.container-slider{
    box-shadow: 1px 1px 30px 5px black;
    border-radius: 10px;
    background-color: black;
    padding: 5px;
    margin: 30px;
}
.slider{
    height:600px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 9px;
    background-color: white;
    

}

.slider li{
    list-style: none;
   

   
}
.slider img{
    margin: auto;
    height: 100%;
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
   border-radius: 5px;
}

.slider input{
    display: none;
}


.slider li:hover img{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
   box-shadow: 1px 1px 30px black;
   border-radius: 10px;
   
}